# History files
*.Rhistory
*.Rapp.history

# Data files
*.RData
*.rda
*.rds

# RStudio files
.Rproj.user/
*.Rproj

# Cache and logs
.Rhistory
.Rapp.history
.Ruserdata
.Rcheck/
*.log

# spreadsheets
*.xlsx
*.numbers

# macOS
.DS_Store